# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
torch_env/

# Jupyter
.ipynb_checkpoints/

# Data (VERY IMPORTANT)
data/

# Models (optional but recommended)
models/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

