# ===============================
# 🚫 Python Cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# 🚫 Virtual Environments
# ===============================
env/
venv/
tf_env/
app_env/

# ===============================
# 🚫 Large ML Files (VERY IMPORTANT)
# ===============================
*.h5
*.npy
*.pkl

# ===============================
# 🚫 Dataset & Processed Data
# ===============================
dataset/
processed_data/

# ===============================
# 🚫 Results (Keep structure only)
# ===============================
results/*.pkl


# ===============================
# 🚫 Jupyter Notebook Checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# 🚫 VS Code Settings
# ===============================
.vscode/

# ===============================
# 🚫 OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# 🚫 Logs / Temp
# ===============================
*.log